/* this is the template for the CSS Style to be generated */

/* 
font-family: 'Anton', sans-serif;
font-family: 'Signika Negative', sans-serif;
 */

:root {
    --lightback: rgb(48, 47, 47);   /* change these for different palettes */
    --darkback: rgb(174, 236, 212);     /* change these for different palettes */
    --darkbackcircle: rgb(112, 114, 243);      /* change these for different palettes */
    --accent: rgb(164, 184, 132);        /* change these for different palettes */
    --white: rgba(19, 19, 19, 0.979);        /* change these for different palettes */
}
body.container-fluid {
    padding: 0;
    background-image: radial-gradient(ellipse at bottom, var(--accent)8%, var(--darkbackcircle)45%, var(--darkback)60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.custom-header {
    display: flex;
    height: 150px;
    width: 100vw;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: var(--white);   
    background-image: radial-gradient(ellipse at top, var(--accent)3%, var(--darkbackcircle) 35%, var(--darkback)60%);
}
.card {
    margin: 10px;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    color: var(--darkback);
}
.custom-card {
    background-image: linear-gradient(to top, var(--white), var(--lightback)98%, var(--accent)102%);
}
.card-header {
    background-image: linear-gradient(to top, var(--accent)1%, var(--accent)50%, var(--lightback)98%);
}
.list-group-item {
    background-color: var(--white);
}
a {
    color: var(--accent);
}